[% MACRO example(file) BLOCK %]
[%- pl = "examples/" _ file _ ".pl" -%]
[%- out = "examples/" _ file _ "-out.txt" -%]
[% INCLUDE $pl | xtidy %]

produces output

[% INCLUDE $out | xtidy %]

(This example is included as L<F<[% pl %]>|https://fastapi.metacpan.org/source/BKB/[% info.name %]-[% version %]/[% pl %]> in the distribution.)
[% END %]
[% start_year=2013 %]
=encoding UTF-8

=head1 NAME

IP::China - decide whether an internet address is from China

=head1 SYNOPSIS

[% INCLUDE "synopsis.pl" | xtidy %]

=head1 VERSION

This documents [% info.colon %] version [% info.version %]
corresponding to git commit L<[% commit.commit %]|[% info.repo
%]/commit/[% commit.commit %]> released on [% commit.date %]. 

This module incorporates the MaxMind GeoLite data of date [%
info.version %] (YYYYMMDD).

=head1 DESCRIPTION

Decide whether an IP address originates from China.

=head1 FUNCTIONS

The module has only one function:

=head2 chinese_ip

    my $is_chinese = chinese_ip ('255.255.255.255');

Given an internet protocol string (version 4), decide whether it is
Chinese or not. The return value is a true value (-1) if the address
is from China, and a false value (0) if the address is not from China.

=head1 UPDATES

The module will be periodically updated. Allocated addresses for China
may change. The script to build updates is included in L<the git
repository|[% info.repo %]> for this distribution.

The script also includes some errata for the MaxMind list.

=head1 ERRATA

The data block as follows:

    74.125.16.64/26,1814991,6252001,,0,0

is recorded as in China (country code 1814991), but this block seems
to belong to Google & not be in China, so this is discounted from the
results.

=head1 SEE ALSO

L<http://www.lemoda.net/networking/block-china/> contains an article
and some links to further information.

[% INCLUDE "author" %]

=head2 DATA COPYRIGHT

This product includes GeoLite data created by MaxMind, available from
L<http://www.maxmind.com>. The GeoLite databases are distributed under
the Creative Commons Attribution-ShareAlike 3.0 Unported License. The
GeoLite data is in the file F<block-china-data.c> of the distribution.

